<%= form_tag do %>
  <div class="field">
    <%= label_tag :email %><br />
    <%= text_field_tag :email %>
  </div>
  <div class="field">
    <%= label_tag :username %><br />
    <%= text_field_tag :username %>
  </div>


  <div class="field">
    <%= label_tag :password %><br />
    <%= text_field_tag :password %>
  </div>


  <div class="field">
    <%= label_tag :password_confirmation %><br />
    <%= text_field_tag :password_confirmation %>
  </div>

  <div class="actions">
    <%= submit_tag 'Create Account' %>
  </div>
<% end %>