<!DOCTYPE html>
<html>
<head>
  <title>Shouter</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
<%= render 'navigation' %>
<% if logged_in? %>
  Welcome <%=current_user.email %> | <%= link_to "Sign Out", sign_out_path, :method => :delete %>
<%else %>

<% end %>
<%= yield %>

</body>
</html>
